#main section{
    margin-top: 5rem;
    border: 1px solid #333;
    padding: 2rem;
}
#main section:last-child{
    margin-bottom: 5rem;
}
#main button{
    cursor: pointer;
}
span{
    color: white;
    padding: 0 1rem;
    border-radius: 3rem;
}
.get{
    background-color: green;
}
.post{
    background-color: darkgoldenrod;
}
.put{
    background-color: darkcyan;
}
.delete{
    background-color: lightcoral;
}
pre{
    background-color: #333;
    padding: 1rem;
    margin: 2rem 0;
    color: white;
    width: min-content;
    max-height: 25vh;
    overflow-y: auto;
    border-radius: 2rem;
}
.token__confirm{
    width: 50%;
    padding: 2rem;
    text-align: center;
    border: 1px solid var(--primary);
}